html {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='79' height='100' viewport='0 0 100 100' style='fill:black;font-size:80px;'><text y='90%'>🍾</text></svg>") 0 0,auto; /*!emojicursor.app*/
}
html .rsvp:hover {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='79' height='100' viewport='0 0 100 100' style='fill:black;font-size:80px;'><text y='90%'>💌</text></svg>") 0 0,auto; /*!emojicursor.app*/
}

@font-face {
    font-family: 'Blenny';
    src: url('./../../assets/fonts/Blenny_Trial_Blk.woff2') format('woff2'),
         url('./../../assets/fonts/Blenny_Trial_Blk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#top, #bottom, #left, #right {
	background: #fff;
	position: fixed;
  z-index: 100;
	}
#left, #right {
	top: 0; bottom: 0;
	width: 15px;
	}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
	left: 0; right: 0;
	height: 15px;
	}
#top { top: 0; }
#bottom { bottom: 0; }

body {
  color: #ffd457;
  font-family: 'IBM Plex Mono', monospace;
  margin: 0px;
  padding: 0px;
}
.container {
  max-width: 100%;
}
img {
  width: 100%;
}
iframe {
  height: 1000px;
}
iframe.map {
  height: 100%;
}




// Mobile
@media only screen and (max-width: 768px) {
  h1 {

  }
  h2 {
    font-size: 80px;
    line-height: 68px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
  }

  .full-width.header {
    flex-direction: column;
    height: 1000px;
    height: auto;
  }
  .scollops {
    height: 140px;
    background-size: 248px;
  }
  .col-1, .scollops, .rob-daisy, .date {
    width: 100%;
    border-right: none;
  }
  .col-1 {
    border-bottom: 15px solid white;
  }
  .rob-daisy {
    height: 260px;
    img {
      margin: 60px;
      max-height: 172px;
    }
  }
  .date {
    img {
      margin: 32px;
      margin-left: 20px;
      max-width: 260px;
    }
  }
  .save-date {
    height: 80px;
    background-size: 80px 58px;
    h3 {
      padding: 18px;
    }
  }
  .full-width.horniman {
    height: auto;
    flex-direction: column;

    .venue {
      height: 260px;
      border-right: none;
      border-bottom: 15px solid white;
      img {
        max-width: 300px;
        margin-left: 60px;
      }
    }
    .tiles {
      height: 310px;
      width: 100%;
    }
  }
  .getting-here div {
    margin: 20px 40px;
  }
  .full-width.directions {
    flex-direction: column;
    border-top: 15px white;
    height: auto;
  }
  .GoogleMap {
    height: 480px;
  }
  .running-order {
    width: auto;
    padding: 38px;
    img {
      width: 90%;
    }
    ul {
      font-size: 18px;
      line-height: 36px;
    }
  }
  .accommodation {
    padding: 20px !important;
  }
  .card {
    width: 100%;
  }
  .full-width.copy {
    padding: 50px;
  }
  .strip {
    height: 460px;
  }

  #mc_embed_signup {
  }
  #mc_embed_signup form {
    margin: 32px !important;
  }
  #mc_embed_signup .mc-field-group input {
    padding: 10px 0px !important;
  }
}

// Tablet
@media only screen and (min-width: 601px) {
  body {
  }
  h4 {
    font-size: 40px;
  }
}

// Desktop
@media only screen and (min-width: 991px) {
  body {
  }
}
