html {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='79' height='95' viewport='0 0 100 100' style='fill:black;font-size:47px;'><text y='50%'>🍕</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

@font-face {
    font-family: 'good_girl_trialregular';
    src: url('./../../assets/fonts/goodgirltrial-regular-webfont.woff2') format('woff2'),
         url('./../../assets/fonts/goodgirltrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#top, #bottom, #left, #right {
	background: #fff;
	position: fixed;
  z-index: 100;
	}
#left, #right {
	top: 0; bottom: 0;
	width: 15px;
	}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
	left: 0; right: 0;
	height: 15px;
	}
#top { top: 0; }
#bottom { bottom: 0; }

html {
  background: pink;
}

body {
  background: #efefe1;
  color: #ffd457;
  font-family: 'IBM Plex Mono', monospace;
  margin: 0px;
  padding: 0px;
}
.container {
  max-width: 100%;
}
img {
  width: 100%;
}
h1 {
  font-family: good_girl_trialregular;
  text-transform: uppercase;
  font-size: 262px;
  line-height: 254px;
  margin-top: 20px;
  word-spacing:-3rem;
}

h2 {
  font-family: good_girl_trialregular;
  text-transform: uppercase;
  font-size: 354px;
  line-height: 344px;
}

h3 {
  font-family: good_girl_trialregular;
  text-transform: uppercase;
  font-size: 181px;
  word-spacing: -1.2rem;
  line-height: 169px;
}
h4 {
  font-size: 50px;
}





// Mobile
@media only screen and (max-width: 768px) {

  .full-width.header {
    flex-direction: column;
    height: 1000px;
    height: auto;
  }
  .scollops {
    height: 200px;
  }
  .col-1, .scollops, .rob-daisy, .date {
    width: 100%;
    border-right: none;
  }
  .col-1 {
    border-bottom: 15px solid white;
  }
  .scollops {
    background-size: 320px;
  }
  .rob-daisy {
    height: 340px;
    img {
      margin: 60px;
      max-height: 280px;
    }
  }
  .date {
    img {
      margin-left: 18px;
      max-width: 440px;
    }
  }
  .full-width.copy {
    padding: 50px;
  }
  .strip {
    height: 460px;
  }

  h1, h2, h3, h4 {
    margin: none;
  }
  h1 {
    font-size: 74px;
    line-height: 60px;
    word-spacing: -1rem;
  }
  h2 {
    font-size: 102px;
    line-height: 101px;
  }
  h3 {
    font-size: 51px;
    line-height: 50px;
    word-spacing: -0.2rem;
  }
  h4 {
    font-size: 20px;
  }
}

// Tablet
@media only screen and (min-width: 601px) {
  body {
  }
  h4 {
    font-size: 40px;
  }
}

// Desktop
@media only screen and (min-width: 991px) {
  body {
    background: #efefe1;
  }
}
